<div class="container">
    <div class="card">
      <div class="card-head">
        <img src="../../../../assets/img/Cappuccino.png" alt="logo" class="card-logo">

      </div>
      <div class="card-body">
        <div class="product-desc">
          <span class="product-title">
                  Hartbee<b>spoort</b>
                  <span class="badge">
                    New
                  </span>
          </span>
          <span class="product-caption">
                  Basket Ball Collection
                </span>
          <span class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star grey"></i>
                </span>
        </div>
        <div class="product-properties">
          <span class="product-size">
                  <h4>Size</h4>
                  <ul class="ul-size">
                    <li><a (click) = "toggleClass()" [class.active]="isactive">S</a></li>
                    <li><a (click) = "toggleClass()" [class.active]="isactive">M</a></li>
                    <li><a (click) = "toggleClass()" [class.active]="isactive">L</a></li>
                  </ul>
                </span>
          <span class="product-color">
                  <h4>Colour</h4>
                  <ul class="ul-color">
                    <li><a href="#" class="orange active"></a></li>
                    <li><a href="#" class="green"></a></li>
                    <li><a href="#" class="yellow"></a></li>
                  </ul>
                </span>
          <span class="product-price">
                  USD<b>23,453</b>
                </span>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
