<div class="container">

  <button routerLink="/menu" class="bt bt2" >Back</button>

  <div class="card"  >
    <div class="card-head">
      <img [src]="source.image_svg" alt="logo" class="card-logo">

    </div>
    <div class="card-body">
      <div class="product-desc">
        <span class="product-title">
{{source.name}}
                <span class="badge">
                  Trending
                </span>
        </span>

      </div>
      <div class="product-properties">
        <select #teams (change)="onSelected(teams.value)" class="product-size">
                <option>Select Size</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
        </select>
        <select class="sugar-amount">
          <option>Amount of sugar</option>
          <option>No Sugar</option>
          <option>1 Spoon</option>
          <option>2 Spoons</option>
          <option>3 Spoons</option>
          <option>More</option>
  </select>
  <h3>Quantity:</h3>
  <input type = "text" (keyup)="onKey($event)">
  <button class="btn"  [routerLink]="['/cart',Price]" (click)="addToCart(source)">Add To Cart</button>
        <span class="product-price">
                {{Price}}
              </span>
      </div>
    </div>
  </div>
</div>

