<div class="back">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-box" id="register">
    <div class="form-group button-box" id="btn">

        <button routerLink="/login" class="btn btn-link toggle-btn">
            Login
        </button>
        <button class="btn btn-primary toggle-btn active">
            Register
        </button>
        </div>
    <div class="form-group">
        
        <input type="text" formControlName="name" class="form-control input-field" placeholder="Last Name"/>

    </div>
    <div class="form-group">
        
        <input type="text" formControlName="email" class="form-control input-field" placeholder="Username"/>

    </div>
    <div class="form-group">
        
        <input type="password" formControlName="password" class="form-control input-field" placeholder="Password"/>
    </div>
    <!--
    <br>
    <div class="form-group">
        
        <label for="start">Date Of Birth: </label>

        <input type="date" id="start" name="dob"
          
         min="1900-01-01" max="2003-12-31"><br><br>
    </div>-->

    <button type='submit'class='submit-btn'>Register</button>

</form>
</div>