$primary-color :#FAF4EE;

*{
    margin: 0;
    padding: 0;
    background: none;
    background-color: $primary-color;
    //background: rgba(255, 255, 255, 0.2)
}

.container{
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 5px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding-left: 20px;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.list{
    font-size: 18px;
    font-weight: bold;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    margin-left: 20px;
    margin-right: 20px;
    .list-item{
        border-bottom: #CF9775 2px solid;
        cursor: pointer;
    }
}



.cart-img{
    right: 150px;
    position: absolute;
    top: 30px;
    width: 40px;
    height: 40px;
}